:root {
  --main-color: #000;
  --base-font-size: 16px;
  --base-font-weight: 400;

  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navyBlue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --lightSlate-color: #8e8f99;
  --cornFlower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navyBlue-color: #2e2f42;
  --grey-color: #2e2f42;
  --dairy-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  color: var(--main-color);
}

button {
  font-family: inherit;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--navyBlue-color);
}
h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
h2 {
  color: var(--navyBlue-color);
  font-weight: bold;
  line-height: 1.111;
  letter-spacing: 0.72px;
  font-weight: bold;
}
h3 {
  color: var(--navyBlue-color);
  line-height: 1.222;
  letter-spacing: 0.4px;
  font-size: 20px;
  font-weight: 500;
}
p {
  color: var(--slate-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
ul {
  list-style: none;
}
.logo-web-text {
  color: var(--iris-color);
  line-height: 1.333px;
  letter-spacing: 0.54px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.logo-studio-text {
  color: var(--navyBlue-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.333px;
  letter-spacing: 0.54px;
}

header nav ul li {
  font-weight: 500;
}
.nav-link {
  position: relative;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean-color);
}
.nav-link.current {
  color: var(--ocean-color);
}
.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean-color);
  border-radius: 2px;
}

header address ul li a {
  color: var(--slate-color);
}

.banner {
  background: var(--navyBlue-color);
  color: #fff;
  text-align: center;
  padding: 188px 0;
  border-top: 1px solid var(--cornFlower-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.banner h1 {
  max-width: 496px;
  margin: 0 auto;
}

.banner button {
  margin-top: 48px;
  background: var(--iris-color);
  border: 0;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
}
.banner button:hover {
  background-color: var(--ocean-color);
}
.our-team {
  background: var(--cloud-color);
  padding: 120px 0;
}
.card-list {
  display: flex;
  gap: 24px;
}
.card-list-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  text-align: center;
  overflow: hidden;
}
.our-team h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 48px;
  color: var(--navyBlue-color);
}
.card-heading {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 8px;
}
.card-text {
  text-align: center;
}
.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 48px;
  color: var(--navyBlue-color);
}
.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio ul li {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio ul li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.portfolio img {
  max-width: 100%;
  display: block;
  height: auto;
}

.portfolio-info {
  padding: 32px 0 32px 16px;
  border-left: 1px solid var(--cornFlower-color);
  border-right: 1px solid var(--cornFlower-color);
  border-bottom: 1px solid var(--cornFlower-color);
}

.portfolio-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyBlue-color);
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--slate-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-thumb img {
  display: block;
  width: 100%;
}

/* OVERLAY */
.portfolio-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio ul li:hover .portfolio-overlay {
  transform: translateY(0);
}

footer {
  color: #fff;
  background: var(--navyBlue-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  gap: 0;
}
.web-site-info {
  margin-right: 120px;
}
.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
footer p {
  color: #fff;
  max-width: 264px;
}

.footer-logo-studio-text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.333px;
  letter-spacing: 0.54px;
}

.contanier {
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  padding: 24px 0;
  display: flex;
}

.header-list-nav {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}
.header-list-address {
  display: flex;
  gap: 40px;
}

nav {
  margin-right: auto;
}

.desc-list {
  display: flex;
  padding: 120px 0;
  gap: 24px;
}

.desc-box {
  background-color: var(--cloud-color);
  padding: 24px 100px;
  border: 1px solid var(--lightSlate-color);
  border-radius: 4px;
  margin-bottom: 8px;
}
.desc-list h3 {
  margin-bottom: 8px;
}
.social-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 8px 16px 32px 16px;
}

.social-link {
  display: flex;
  border-radius: 50%;
  background-color: var(--iris-color);
  padding: 12px;
  align-items: center;
  cursor: pointer;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon {
  fill: var(--lightSlate-color);
}

footer .social-icon {
  padding: 0;
}
